@font-face {
    font-family: 'YoutubeFont';
    src: url('../public/youtube-sans-medium.ttf');
  }

// IMPORTS //
@import "Colors";
@import "Home";
@import "DownloaderInput";
@import "Loading";

*{
    font-family: 'YoutubeFont';
}

body{
    margin: 0;
}