@font-face {
    font-family: 'YoutubeFont';
    src: url('../public/youtube-sans-medium.ttf');
  }

// IMPORTS //
@import "Colors";
@import "Home";
@import "DownloaderInput";
@import "Loading";
@import "Android";

*{
    font-family: 'YoutubeFont';
}

body{
    margin: 0;
    background-color: $color-bg;
}